.root {
	background-color: rgba(245, 245, 245, 1);
	position: absolute;
	display: flex;
	flex-direction: column !important;
	padding: 15px;
	width: 100vw;
	height: 100vh;
	top: 0;
	transform: translateX(100vw);
	transition: transform 0.3s ease-in-out;
	overflow-y: scroll;
}

.activeRoot {
	transform: translateX(0);
	transition: transform 0.3s ease-in-out;
}

.inner {
	display: flex;
	justify-content: space-between;
}

.logo {
	display: flex;
	color: #fff;
	font-weight: 700;
	line-height: 35px;
	text-transform: uppercase;
	letter-spacing: 0.15px;
	border-radius: 5px;
	padding: 0 10px 0 0;
	text-decoration: none;
}

.button {
	background-color: rgba(255, 255, 255, 0.7) !important;
	box-shadow: none;
	border: none !important;
	height: 40px;
	border-radius: 5px;
	padding: 10px 20px;
	color: #333 !important;
	line-height: 24px;
	vertical-align: middle;
	font-size: 14px;
	display: flex;
	align-items: center;
	transition: all 0.15s ease-in-out;

	img {
		max-width: 24px;
		margin-right: 10px;
	}

	&:hover {
		background-color: rgba(255, 255, 255, 1);
		box-shadow: 0 5px 5px 1px rgba(51, 51, 51, 0.05);
		transition: all 0.15s ease-in-out;
	}
}

.close {
	position: absolute !important;
	top: 15px;
	right: 15px;
	padding: 0 !important;
	min-width: 40px !important;
	img {
		margin-right: 0;
	}
}

.add {
	height: 40px;
}

.menu {
	padding: 10px !important;
	min-width: 10px !important;
	img {
		margin-right: 0;
	}
}

.avatar {
	position: relative;
	box-shadow: none;
	padding: 10px 0px 10px 20px;
	justify-content: space-between;
	min-width: 170px;

	div {
		width: 30px;
		height: 30px;
		overflow: hidden;
		border-radius: 50%;
		display: flex;
		margin-right: 10px;

		img {
			justify-content: center;
			min-width: 100%;
		}
	}

	&:hover {
		box-shadow: none;
	}
}

.logout {
	background-color: transparent;
	position: absolute;
	right: 0;
	background-color: transparent;
	padding: 0 !important;
	min-width: 45px !important;
	height: 40px;
	margin-bottom: 0 !important;
	img {
		margin-right: 0;
	}
}

.buttons {
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;

	.button {
		margin-bottom: 10px;
	}

	a {
		text-decoration: none;
	}
}
