.root {
	background-color: rgb(255, 255, 255, 0.85);
	padding: 10px 0;
	margin-bottom: 30px;
	position: fixed;
	width: 100%;
	z-index: 2;
	top: 0px;
}

.inner {
	display: flex;
	justify-content: space-between;
	max-height: 40px;
}

.logo {
	display: flex;
	color: #fff;
	font-weight: 700;
	line-height: 35px;
	text-transform: uppercase;
	letter-spacing: 0.15px;
	border-radius: 5px;
	padding: 0 10px 0 0;
	text-decoration: none;
}

.button {
	background-color: rgba(255, 255, 255, 0.7) !important;
	box-shadow: 0 5px 5px 1px rgba(51, 51, 51, 0.05);
	border: none !important;
	height: 40px;
	border-radius: 5px;
	padding: 10px 20px;
	color: #333 !important;
	line-height: 24px;
	vertical-align: middle;
	font-size: 14px;
	margin-left: 10px;
	display: flex;
	align-items: center;
	transition: all 0.15s ease-in-out;

	img {
		max-width: 24px;
		margin-right: 10px;
	}

	&:hover {
		background-color: rgba(255, 255, 255, 1);
		box-shadow: 0 5px 5px 1px rgba(51, 51, 51, 0.15);
		transition: all 0.15s ease-in-out;
	}
}

.add {
	height: 40px;
}

.menu {
	padding: 10px !important;
	min-width: 10px !important;
	img {
		margin-right: 0;
	}
}

.avatar {
	position: relative;
	box-shadow: none;
	padding: 10px 0px 10px 20px;
	min-width: 170px;

	div {
		width: 30px;
		height: 30px;
		overflow: hidden;
		border-radius: 50%;
		display: flex;
		margin-right: 10px;

		img {
			justify-content: center;
			min-width: 100%;
		}
	}

	&:hover {
		box-shadow: none;
	}
}

.logout {
	background-color: transparent;
	position: absolute;
	right: 0;
	background-color: transparent;
	padding: 0 !important;
	min-width: 45px !important;
	height: 40px;
	img {
		margin-right: 0;
	}
}

.buttons {
	display: flex;
	button {
		margin-left: 10px;
	}

	a {
		text-decoration: none;
	}
}
